/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* styles start here */

body{
	font-family: sans-serif;
}

a {
	text-decoration: none; 
	color: inherit;
}

.wrapper{
	padding: 40px 100px;
}

header{
	display: flex;
	justify-content: space-between;
}

h2{
	font-weight: 700;
	margin-bottom: 15px;
}

.mode{
	display: flex;
	gap: 20px;
	cursor: pointer;
}

.lightMode{
	background-color: #fff;
	color: #000;
	box-shadow: 0 0 20px lightgrey;
}

.darkMode{
	background-color: #222d37;
	color: #fff;
}

.headerDarkMode{
	background-color: #2c3743;
	color: #fff;
}

.searchTxt::placeholder{
	color: #fff;
}

.filterContainer{
	display: flex;
	justify-content: space-between;
}

/* search styles */

.search{
	border: none;
	border-radius: 5px;
	padding: 10px 50px;
	box-shadow: 0 0 3px lightgrey;
}

.search:focus{
	outline:none;
}

.searchContainer {
    position: relative;
}

.searchIcon {
    position: absolute;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
}

.dropdown{
	width: 150px;
	position: relative;
}

.dropdown .dropdownBtn{
	padding: 10px;
	box-shadow: 0 0 3px lightgrey;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

.dropdown .dropdownContent{
	position: absolute;
	top: 110%;
	left: 0;
	padding: 10px;
	box-shadow: 0 0 3px lightgrey;
	width: 85%;
	background-color: #fff;
}

.dropdownBack{
	background-color: #2c3743;
	color: #fff;
	position: absolute;
	top: 110%;
	left: 0;
	padding: 10px;
	box-shadow: 0 0 3px lightgrey;
	width: 85%;
}

.dropdown .dropdownContent .dropdownItem{
	padding: 10px;
	cursor: pointer;
}

.darkDropDown{
	padding: 10px;
	cursor: pointer;
}

/* grid styles */

.gridContainer{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 20px;
	height: 100vh;
}

.gridItem{
	border-radius: 7px;
	box-shadow: 0 0 3px lightgrey;
	height: 400px;
	cursor: pointer;
	border: 1px solid lightgrey;
}

.gridImg{
	width: 100%;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	height: 200px;
	border-bottom: 1px solid rgb(227, 224, 224);
}

.gridContent{
	padding: 15px;
}

.gridContent span {
	font-weight: 600;
}

.gridContent p {
	margin-bottom: 10px;
}

/* details styles */

.backBtnContainer{
	display: inline-block;
    width: 100px;
}

.backBtn{
	padding: 10px 20px;
	box-shadow: 0 0 3px lightgrey;
	width: 100px;
	text-align: center;
	border-radius: 5px;
}

.detailsContainer {
	display: flex;
	justify-content: space-between;
	height: 100vh;
}

.detailsContainer img{
	height: 500px;
	width: 50%;
	border: 1px solid rgb(227, 224, 224);
}

.detailsContent {
	width: 600px;
	margin-top: 60px;
}

.columnContainer {
	display: flex;
	justify-content: space-between;
}

.detailName {
	font-weight: 700;
	font-size: 50px;
	margin-bottom: 12px;
}

.detailsContent p {
	padding: 10px 0;
}

.detailsContent span{
	font-weight: 700;
}

.detailsBorder{
	box-shadow: 0 0 3px lightgrey;
	padding: 10px;
	margin: 10px;
}

.borderCountries{
	margin-top: 50px;
}

/* media queries */

/* @media (max-width: 1000px) {
	
	.gridContainer{
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	.gridItem{
		height: 300px;
	}

	.gridImg{
		height: 150px;
	}

} */